# Ignore a specific folder

# M1
M1/Env_Setup/
M1/Lecture Material/Presntation-MS-Lec1.pdf

# M2
# M2/Lab Material/
#M2/Lecture Material/
M2/Lecture Material/Calculations.xlsx
M2/Lecture Material/Module2_old.pdf


# M3
#M3/Lab Material/
M3 /Lecture Material/

# M4
#M4/Lab Material/
M4/Lecture Material/
M4/Lab Material/rag_semantic_chunking_faiss_azure_eval_RBAC_prompted.py


# M5
M5/Lab Material/
M5 /Lecture Material/

# M6
M6/Lab Material/

# Pre-requisites
Prerequisites/huggingface_TheBlokeTinyLlam.txt


# Session Plan
Session Plan/

# env
training_env/
myenv310/


# Ignore environment variables (passwords/API keys)
.env

# And git ignore itself
.gitignore

