# Ignore a specific folder

# M1
M1/Env_Setup/
M1/Lecture Material/

# M2
M2/Lab Material/
M2/Lecture Material/

# M3
M3/Lab Material/
M3 /Lecture Material/

# M4
M4/Lab Material/
M4 /Lecture Material/

# M5
M5/Lab Material/
M5 /Lecture Material/

# M6
M6/Lab Material/

# Pre-requisites
# Prerequisites/

# Session Plan
Session Plan/

# training_env
training_env/

# Ignore environment variables (passwords/API keys)
.env

