pandas
numpy==1.26.4
python-dotenv
python-docx
docx2txt
openai
langchain-core
langchain-openai
langchain-chroma
langchain-text-splitters
langchain-community
langchain-experimental
chromadb
faiss-cpu
docling
docling-core
easyocr
sentence-transformers